<!DOCTYPE html>
<html>
<head>
	<title>Portal | St. Jude Graphics</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<style>

		div.container > div.col {
			margin-top: 10%;
		}
	</style>
</head>
<body>

	<!-- main container -->
	<div class="container">
			<div class="col col-md-6 offset-md-3 border border-primary rounded">
				<br>
				<h2 class="text-center">St. Jude Graphics</h2>
				<hr>
				
				<div class="alert alert-info">
					Welcome! Please enter your employee credentials.
				</div>

				<form class="form-group">
					<label for="user">Username</label>
					<input id="user" class="form-control" type="text" name="user" placeholder="Username" required>
					<br>
					<label for="pass">Password</label>
					<input id="pass" class="form-control" type="password" name="pass" placeholder="Password"required>
					<hr>
					<button type="submit" class="btn btn-primary btn-block">Log In</button>
				</form>
			</div>
	</div>
</body>
</html>